/* post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/
/*Всі елементи котрі характеризують users, posts, comments візуалізувати, так,
щоб було видно що це блоки (дати фон. марджини і тд)*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    display: flex;
}

.div1{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.div31{
    width: 50%;
    height: 25vh;
    border-radius: 10px;
    background:lightsteelblue;
    display: flex;
    align-items: center;
    padding-left: 70px;
    margin-left: 300px;
;
}

.div32{
    margin: 10px;
    margin-left: 50px;
    width: 80vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    align-content: center;
    grid-gap: 20px;
}

.div4{
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    background: lightsteelblue;

}

.div32,.div31{

    text-align: center;

}